@charset "utf-8";

@import
	url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap')
	;

body {
	font-family: 'Delicious Handrawn', cursive;
	font-size: 1em;
	font-weight: 400;
}

h1 {
	color: #66bbff;
	display: block;
	margin: 5px auto;
	max-width: 100%;
	text-align: center
}

.imgBegin {
	display: flex;
	margin: 5px auto;
	max-width: 100%;
}

.botaoInicial {
	text-decoration: none;
	display: flex;
	color: #000000;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	background-color: #008080;
	cursor: pointer;
}

.botaoInicial:hover {
	color: white;
	background-color: black;
}

.frmContato {
	display: flex;
	margin: 5px auto;
	max-width: 100%;
	text-align: center
}

.caixaEmail {
	width: 320px;
	padding: 5px;
	margin-bottom: 10px;
}